<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ 'Billetterie Musée du Louvre'|trans }}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/languages.min.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                },
                "theme": "classic",
                "content": {
                    "message": "{{ 'Ce site utilise des cookies pour garantir un bon processus de commande.'|trans }}",
                    "dismiss": "{{ 'Ok, j\'accepte'|trans }}",
                    "link": "{{ 'En savoir plus'|trans }}"
                }
            })});
    </script>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand d-none d-md-inline" href="#">
            <img src="{{ asset('images/logo_email.jpg') }}" width="" height="50" class="d-inline-block align-top" alt="Le Louvre">
        </a>
        <h1 class="navbar-brand mb-0">{{ 'Billetterie officielle'|trans }}</h1>
        <div class="" id="">
            {% set route = app.request.attributes.get('_route') == null ? 'step1':app.request.attributes.get('_route') %}
            <div class="ml-auto">
                <a href="{{ path(route, {_locale: 'fr'}) }}" hreflang="fr"><span class="lang-sm mr-2" lang="fr"></span></a>
                <a href="{{ path(route, {_locale: 'en'}) }}" hreflang="en"><span class="lang-sm" lang="en"></span></a>
            </div>
        </div>
    </header>
    <div id="main" class="container py-4">
        {% block content %}
            <div class="container">
                <h1>{{ 'Musée du Louvre'|trans }}</h1>
                <p>{{ 'app.home.desc'|trans }}</p>
            </div>

            {% include 'default/_progressBar.html.twig' %}
            <div class="container">
                {% for message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                    {{ message|trans }}
                </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('notice') %}
                <div class="alert alert-info">
                    {{ message|trans }}
                </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ message|trans }}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-lg-9 mb-4">
                        {% block body %}
                            <h1>Hello, world!</h1>
                        {% endblock %}
                    </div>
                    <div class="col-lg-3 sidebar bg-dark pt-3 text-white">
                        <p>{{ 'app.sidebar.p1'|trans }}</p>
                        <p>{{ 'app.sidebar.p2'|trans }}</p>
                        <p>{{ 'app.sidebar.p3'|trans }}</p>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="container">
            <div class="row bg-white mt-2">
                <nav class="nav">
                    <a class="nav-link" href="{{ path('step1') }}">Billetterie</a>
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    <a class="nav-link" href="{{ path('cgv') }}">CGV</a>
                    <a class="nav-link" href="https://www.louvre.fr/">Musée du Louvre</a>
                </nav>
            </div>
        </div>
    </div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>