{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'app.progress.step3'|trans }}{% endblock %}

{% block body %}

<p>
    {% transchoice order.nbTickets %}
        app.resume.order.some
    {% endtranschoice %}


    {% if not order.fullDay %}{{ 'app.half.day'|trans }}{% else %}{{ 'app.day'|trans }}{% endif %}
 {{ 'app.resume.order.on'|trans }} {{ order.dateOfVisit|date("d/m/Y") }} :</p>
<br>
<table class="table table-responsive  table-striped">
    <thead>
    <tr>
        <th>{{ 'app.firstname'|trans }}</th>
        <th>{{ 'app.lastname'|trans }}</th>
        <th>{{ 'app.birthdate'|trans }}</th>
        <th>{{ 'app.country'|trans }}</th>
        <th>{{ 'app.reduced_price'|trans }}</th>
        <th>{{ 'app.ticket_price'|trans }}</th>
    </tr>
    </thead>
    <tbody>
{% for ticket in order.tickets %}
    <tr>
        <td>{{ ticket.lastname|upper }}</td>
        <td>{{ ticket.firstname }}</td>
        <td>{{ ticket.birthdate|date("d/m/Y") }}</td>
        <td>{{ ticket.country|countryname }}</td>
        <td>{% if ticket.reducedPrice %}{{ 'app.yes'|trans }}{% else %}{{ 'app.no'|trans }}{% endif %}</td>
        <td>{{ ticket.price|number_format(2, ',', ' ') }} €</td>
    </tr>
{% endfor %}
    </tbody>
</table>

    <p>{{ 'app.step3.total_amount'|trans }} : {{ order.totalAmount|number_format(2, ',', ' ') }} €</p>


<form action="{{ path('checkout') }}" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_public_key }}"
            data-amount="{{ order.totalAmount * 100 }}"
            data-name="{{ 'app.step3.stripe.secured.payment'|trans }}"
            data-description="{{ 'app.step3.stripe.title'|trans }}"
            data-email="{{ order.email }}"
            data-label="{{ "pay.by.card"|trans }}"
            data-locale="auto"
            data-currency="eur">
    </script>
</form>

{% endblock %}
