{% extends 'base.html.twig' %}

{% block body %}

Vous avez choisi {{ order.nbTickets }} billet(s) {% if not order.fullDay %}demi-{% endif %}journée pour une visite le {{ order.dateOfVisit|date("d/m/Y") }} :
<br>
{% for ticket in order.tickets %}
    <div class="ticket">
        Ticket {{ loop.index }}<br>
        {{ ticket.lastname|upper }} {{ ticket.firstname }}<br>
        Date de naissance : {{ ticket.birthdate|date("d/m/Y") }}<br>
        Pays : {{ ticket.country }}<br>
        Tarif réduit : {% if ticket.reducedPrice %}OUI{% else %}NON{% endif %}<br>
        Prix du billet : {{ ticket.price }} €
    </div>
{% endfor %}
Montant total : {{ order.totalAmount }} €

<form action="{{ path('checkout') }}" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_public_key }}"
            data-amount="{{ order.totalAmount * 100 }}"
            data-name="Paiement sécurisé"
            data-description="Billeterie Musée du Louvre"
            data-email="{{ order.email }}"
            data-label="{{ "Payer par carte"|trans }}"
            data-locale="auto"
            data-currency="eur">
    </script>
</form>
{% endblock %}
