{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Etape 4/4{% endblock %}

{% block body %}
    <h2>{{ 'app.success.order.saved'|trans }}</h2>
    <p>{{ 'app.success.email.sent'|trans }}</p>

    <p>{{ 'app.success.print.reference'|trans }} : <strong>{{ reference }}</strong></p>


{% endblock %}
