<p><img src="{{ absolute_url(asset('images/logo_email.jpg')) }}" alt="Louvre"></p>
<h1>Votre commande n° {{ order.reference }}</h1>

<p>Bonjour,<br>
    Merci pour votre commande de {{ order.nbTickets }} tickets {% if not order.fullDay %}demi-{% endif %}journée pour le {{ order.dateOfVisit|date('d/m/Y') }}.
</p>
<p>{{ 'app.success.reference.to.show'|trans }} : <strong>{{ order.reference }}</strong></p>
<p>Si vous bénéficiez d'un prix réduit, pensez à préparer votre justificatif qui vous sera demandé à l'entrée.</p>

<h2>Votre billet concerne :</h2>
<table class="table table-responsive  table-striped">
    <thead>
    <tr>
        <th>{{ 'app.firstname'|trans }}</th>
        <th>{{ 'app.lastname'|trans }}</th>
        <th>{{ 'app.birthdate'|trans }}</th>
        <th>{{ 'app.country'|trans }}</th>
        <th>{{ 'app.reduced_price'|trans }}</th>
        <th>{{ 'app.ticket_price'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in order.tickets %}
        <tr>
            <td>{{ ticket.lastname|upper }}</td>
            <td>{{ ticket.firstname|upper }}</td>
            <td>{{ ticket.birthdate|date("d/m/Y") }}</td>
            <td>{{ ticket.country|countryname }}</td>
            <td>{% if ticket.reducedPrice %}{{ 'app.yes'|trans }}{% else %}{{ 'app.no'|trans }}{% endif %}</td>
            <td>{{ ticket.price|number_format(2, ',', ' ') }} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>{{ 'app.step3.total_amount'|trans }} : {{ order.totalAmount|number_format(2, ',', ' ') }} €</p>

<p>A bientôt au Musée du Louvre</p>