{{ 'app.success.order.saved'|trans }}<br>
{{ 'app.success.email.sent'|trans }}

<p>{{ 'app.success.reference.to.show'|trans }} : <strong>{{ order.reference }}</strong></p>
<p><img src="{{ absolute_url(asset('images/logo_email.jpg')) }}" alt="Louvre"></p>