<p><img src="{{ absolute_url(asset('images/logo_email.jpg')) }}" alt="Louvre"></p>
<h1>{{ 'app.email.success.votre.commande'|trans }} {{ order.reference }}</h1>

<p>{{ 'app.email.success.bonjour'|trans }},<br>
    {{ 'app.email.success.merci.commande'|trans }} {{ order.nbTickets }} ticket(s) {% if not order.fullDay %}{{ 'app.half.day'|trans }}{% else %}{{ 'app.day'|trans }}{% endif %} {{ 'app.email.success.pour.le'|trans }} {{ order.dateOfVisit|date('d/m/Y') }}.
</p>
<p>{{ 'app.success.reference.to.show'|trans }} : <strong>{{ order.reference }}</strong></p>
<p>{{ 'app.email.success.beneficiaire.tarif.reduit'|trans }}</p>

<h2>{{ 'app.email.success.concerne'|trans }}</h2>
<table class="table table-responsive  table-striped">
    <thead>
    <tr>
        <th>{{ 'app.firstname'|trans }}</th>
        <th>{{ 'app.lastname'|trans }}</th>
        <th>{{ 'app.birthdate'|trans }}</th>
        <th>{{ 'app.country'|trans }}</th>
        <th>{{ 'app.reduced_price'|trans }}</th>
        <th>{{ 'app.ticket_price'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in order.tickets %}
        <tr>
            <td>{{ ticket.lastname|upper }}</td>
            <td>{{ ticket.firstname|upper }}</td>
            <td>{{ ticket.birthdate|date("d/m/Y") }}</td>
            <td>{{ ticket.country|countryname }}</td>
            <td>{% if ticket.reducedPrice %}{{ 'app.yes'|trans }}{% else %}{{ 'app.no'|trans }}{% endif %}</td>
            <td>{{ ticket.price|number_format(2, ',', ' ') }} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>{{ 'app.step3.total_amount'|trans }} : {{ order.totalAmount|number_format(2, ',', ' ') }} €</p>

<p>{{ 'app.email.success.a.bientot'|trans }}</p>